body{
	box-sizing: border-box;
}

body > div{
	margin:10px;
	clear: both;
}

/*инфо о програме*/
#info > h2, #info > p, #info > ul{
	margin: 6px 0;
}

/*Предупреждение*/
.warning{
	color: orange;
}

.warning:before{
	content: "!!! ";
	margin-right:5px;
}

.warning:after{
	content: "!!! ";
	margin-left:5px;
}

/*Блок с параметрами*/
#paramGeneration{
	box-sizing: border-box;
	min-width:335px;
	float:left;
}

#paramGeneration > div{
	text-align:right;
	margin-bottom: 5px;
	clear:both; 
	overflow: auto;
}

#paramGeneration > div > label{
	float: left;
}

#paramGeneration > div > input{
	width: 50px;
	padding:0px;
	float: right;
}

/*Ошибка*/
.error{
	border: 1px solid red;
	padding: 1px !important;
}

/*Подсказка к ошибке*/
.msgError{
	display: none;
	clear: both;
	float: left;
	color: red;
	font-size:80%;
}

/*Скрываем лишнее поля*/
#result, #action{
	display: none;
}

/*Блок с графическим отображением массива*/
#array{
	border: 1px solid black;
	overflow: visible;
	display : table;
	margin:5px 0;
}

.item{
	max-width:210px;
	position: relative;
	border: 1px solid black;
	float: left;
	width:48px;
	height:48px;
	line-height: 48px;
	text-align: center;
	overflow: hidden;
	background-color: #fff;
}

/*Кнопки*/
button{
	margin-top: 5px;
	color: #fff;
	background: #d44b38;
	border: 2px solid #d44b38;
	clear: both;
	cursor: pointer;
}

button:disabled { 
	color: #ccc;
	cursor: default;
}