﻿<head>
	<link rel="stylesheet" href="css/style.css">
	<title>Сортировка пузырьком</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>
<body>
	<div id="info">
	<h2>Сортировка пузырьком</h2>
	<p>Для того чтобы начать сгенерируйте набор значений которые будут генерироваться:</p>
	<ul>
		<li>Введите минимальное целочисленное значение в поле "Минимальное значение";</li>
		<li>Введите максимальное целочисленное значение в поле "Максимальное значение" (оно должно быть больше минимального хотя бы на единицу);</li>
		<li>Укажите количество элементов которое будете сортировать в поле "Количество значений" (не указывайте сильно большое количество, иначе сортировка затянется, а также значение меньше двух);</li>
		<li>Нажмите кнопку "Сгенерировать набор".</li>
	</ul>
	<p>После отображения набора который будет сортироваться нажмите на кнопку "Запустить сортировку".</p>
	<p class="warning">До запуска сортировки набор можно сгенирировать повторно нажав на кнопку "Сгенерировать набор". После запуска сортировки сгенирировать новый набор невозможно.</p>
	<p>Дождитесь окончания сортировки, в конце будет показан результат (когда все ячейки со значениями станут серыми).</p>
	<p>Нажмите кнопку "Начать заново" для того чтобы вернуться на этап генирации набора чисел.</p>
	</div>
	<div id="paramGeneration">
		<div>
			<label for="min">Минимальное значение:</label>
			<input type="text" id="min" class="input"/>
			<span class="msgError"></span>
		</div>
		<div>
			<label for="max">Максимальное значение:</label>
			<input type="text" id="max" class="input"/>
			<span class="msgError"></span>
		</div>
		<div>
			<label for="count">Количество значений:</label>
			<input type="text" id="count" class="input"/>
			<span class="msgError"></span>
		</div>
		<button id="generate">Сгенерировать набор</button>
	</div>
	<div id="action">
		<div id="arrayMsg">Набор до сортировки:</div>
		<div id="array"></div>
		<button id="start">Запустить сортировку</button>
	</div>
	<div id="result">
		<div id="resultMsg">Набор после сортировки:</div>
		<button id="restart">Начать заново</button>
	</div>
	<script src="js/script.js"></script>
</body>